*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'nunito', sans-serif;
}

:root{
    --bg-color:#191f36;
    --snd-bf-color:#262b40;
    --text-color:#fff;
    --main-color:#59b2f4;
}

html{
font-size: 62.5%;
overflow-x:hidden;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header{
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   padding: 2rem 9%;
   background: var(--bg-color);
   display: flex;
   justify-content: space-between;
   align-items: center;
   z-index: 100; 
}

.logo{
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 700;
    cursor: default;
}

.navbar a{
    font-size: 1.5rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 700;
}

.navbar a:hover,
.navbar a.active {
color: var(--text-color);
}

#menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content h3{
    font-size: 3.2rem;
    font-weight: 700;
}

.home-content h3:nth-of-type(2){
    margin-bottom: 2rem;
}

span{
    color: var(--main-color);
}

.home-content h1{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-img img{
    width: 25vw;
    animation: floatImage 4s ease-in-out infinite;
    border-radius: 50%;
}

@keyframes floatImage{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-2.4rem);
    }
    100%{
        transform: translateY(0);
    }
}

.home-content p{
    font-size: 1.6rem;
}

.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.social-media a:hover{
    background: var(--main-color);
    color:var(--snd-bf-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: 0.5s ease;
}

.btn:hover{
    box-shadow: none;
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--snd-bf-color);
}

.about-img img{
    width: 35vh;
    border-radius: 10%;
    border: .5rem solid var(--main-color);
}

.heading{
    text-align: center;
    font-size: 4.5rem;
}

.about-content h2{
    text-align: left;
    line-height: 1.2;
}

.about-content h3{
    font-size: 2.6rem;
}

.about-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.edu{
    background: var(--bg-color);
}

.edu .timeline{
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.edu .timeline::after{
    content: '';
    position: absolute;
    width: 6px;
    background: var(--snd-bf-color);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -100;
}

.edu .container{
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.edu .container::after{
    content: '\f501';
    position:absolute;
    width: 25px;
    height: 25px;
    line-height: 25px;
    right: -17px;
    background: var(--text-color);
    border: 4px solid var(--main-color);
    top: 15px;
    border-radius: 50%;
    z-index: 100;
    font-size: 1.89rem;
    text-align: center;
    font-weight: 600;
    font-family: "Font Awesome\ 5 Free";
    color: var(--bg-color);
}

.edu .container-work{
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.edu .container-work::after{
    content: '\e53d';
    position:absolute;
    width: 25px;
    height: 25px;
    line-height: 25px;
    right: -17px;
    background: var(--text-color);
    border: 4px solid var(--main-color);
    top: 15px;
    border-radius: 50%;
    z-index: 100;
    font-size: 1.89rem;
    text-align: center;
    font-weight: 600;
    font-family: "Font Awesome\ 5 Free";
    color: var(--bg-color);
}

.edu .container-int{
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.edu .container-int::after{
    content: '\f51c';
    position:absolute;
    width: 25px;
    height: 25px;
    line-height: 25px;
    right: -17px;
    background: var(--text-color);
    border: 4px solid var(--main-color);
    top: 15px;
    border-radius: 50%;
    z-index: 100;
    font-size: 1.89rem;
    text-align: center;
    font-weight: 600;
    font-family: "Font Awesome\ 5 Free";
    color: var(--bg-color);
}


.edu .left{
    left: 0;
}

.edu .right{
    left: 50%;
}

.edu .left::before{
    content: '';
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid var(--main-color);
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent var(--main-color);
}

.edu .right::before{
    content: '';
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid var(--main-color);
    border-width: 10px 10px 10px 0;
    border-color: transparent var(--main-color) transparent transparent;
}

.edu .right::after{
    left: -16px;
}

.edu .content{
    background: var(--main-color);
    position: relative;
    border-radius: 6px;
}

.edu .content .tag{
    font-size: 1.5rem;
    padding-top: 1.5rem;
    padding-left: 1.5rem;
    color:var(--snd-bf-color);
}

.edu .content .dec{
    margin-left: 1.5rem;
    padding-bottom: 1rem;
    color: var(--snd-bf-color);
}

.edu .content .dec h3{
    font-size: 1.5rem;
    font-weight: 600;
}

.edu .content .dec p{
    font-size: 1.3rem;
    font-weight: 500;
}

.edu .tahun{
    color: #191f36;
    font-size: 1.2rem;
}

.skill{
    background:var(--snd-bf-color);
}

.skill .container{
    background: var(--bg-color);
    color: var(--main-color);
    border-radius: 1rem;
    padding: 2rem;
    width: 70%;
    margin: auto;
    margin-top: 2rem;
}

.skill .container .row{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    flex-wrap: wrap;
    gap: 1.8rem;
}

.skill .container .bar{
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 1rem;
    background: var(--bg-color);
    transition: .3s ease;
}

.skill .info img{
    height: 70px;
    width: 70px;
}

.skill .container .bar:hover{
    box-shadow: 0 4px 10px var(--main-color);
    transform: scale(1.03);
}

.skill .container .bar .info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.skill .container .bar .info span{
    font-size: 2rem;
    font-weight: 500;
    color: var(--main-color);
    text-align: center;
}

.sevice h2{
    margin-bottom: 5rem;
}

.service-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.service-container .service-box{
    flex: 1 1 30rem;
    background: var(--snd-bf-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: .5s ease;
}

.service-container .service-box:hover{
    border-color: var(--main-color);
    transform: scale(1.02);
}

.service-box i{
    font-size: 7rem;
    color: var(--main-color);
}

.service-box h3{
    font-size: 2.6rem;
}

.service-box p{
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
    text-align: justify;
}

.portofolio{
    background: var(--snd-bf-color);
}

.portofolio h2{
    margin-bottom: 2rem;
}

.portofolio-container{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    align-items: center;
    gap: 2rem;
}

.portofolio-container .portofolio-box{
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}

.portofolio-box img{
    width: 100%;
    transition: .5s ease;
    opacity: 0.7;
}

.portofolio-box:hover img{
    transform: scale(1.1);
}

.portofolio-box .portofolio-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.1), var(--snd-bf-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.portofolio-box:hover .portofolio-layer{
    transform: translateY(0);
}

.portofolio-layer h4{
    font-size: 3rem;
}

.portofolio-layer p{
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}

.portofolio-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}

.portofolio-layer a i{
    font-size: 2rem;
    color: var(--snd-bf-color);
}

.contact h2{
    margin-bottom: 3rem;
}

.contact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--snd-bf-color);
    border-radius: .8rem;
    margin: .7rem 0;
}

.contact form .input-box input{
    width: 49%;
}

.contact form textarea{
    resize: none;
}

.contact form .btn{
    margin-top: 2rem;
    cursor: pointer;
}

.contact form .send{
    color: var(--bg-color);
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--snd-bf-color);
}

.footer-text{
    font-size: 1.6rem;
}

.footer-iconTop{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem 1rem;
    background: var(--main-color);
    border-radius: .8rem;
    transition: .5s ease;
}

.footer-iconTop a:hover{
    box-shadow: 0 0 1rem var(--main-color);
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--snd-bf-color);
}

.d-none{
    display: none;
}

.d-flex{
    display: flex;
}

.btn-loading{
    margin-top: 1rem;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: 0.5s ease;
}

.btn-loading span{
    color: var(--text-color);
    font-size: 1.5rem;
}

/* The alert message box */
.alertku {
    background: var(--main-color);
    padding: 20px 40px;
    width: max-content;
    height: 30px;
    right: 0px;
    top: 10px;
    margin: auto;
    border-radius: 4px;
    border-left: 8px solid var(--snd-bf-color);
    color: #59b2f4;
    align-items: center;
    opacity: 1;
    transition: opacity 0.6s; /* 600ms to fade out */
  }
  
  /* The close button */


/* section */
  
  .alertku .fa-exclamation-circle{
    color: var(--snd-bf-color);
    font-size: 2rem;
    
  }

  .alertku .msg{
    color: var(--snd-bf-color);
    font-size: 1.7rem;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
  }

  .alertku .fa-times{
    top: 0;
    right: 0;
    padding: 10px;
    color: #191f36;
    cursor: pointer;
    font-size: 1.7rem;
    align-items: end;
  }
  
  /* Untuk memperindah tampilan close button */
  .close-btn:hover {
    background-color: rgba(24, 117, 63, 0.3);
    border-radius: 100px;
  }
  

/* BREAKPOINT */

@media (max-width : 1200px){
    html{
        font-size:55%;
    }
}

@media(max-width: 991px){
    .header{
        padding: 2rem 3%;
    }

    section{
        padding: 10rem 3%;
    }

    .service{
        padding: 7rem;
    }

    .portofolio{
        padding-bottom: 7rem;
    }

    .contact{
        min-height: auto;
    }
}

@media(max-width : 768px){
    #menu-icon{
        display: block;
    }

    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }

    .navbar.active{
        display: block;
    }

    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .home{
        flex-direction: column;
    }

    .home-content{
        order: 2;
    }

    .home-content h3{
    font-size: 2.6rem;
    }

    .home-content h1{
        font-size: 5rem;
    }

    .home-img img{
        width: 90vw;
        margin-top: 4rem;
    }

    .about{
        flex-direction: column;
    }

    .about-img img{
        width: 90vw;
    }

    .service h2{
        margin-bottom: 3rem;
    }

    .portofolio h2{
        margin-bottom: 3rem;
    }

    .portofolio-container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width : 617px){
    .portofolio-container{
        grid-template-columns: 1fr;
    }

    .home-img img{
        width: 80vw;
        margin-top: 8rem;
    }

    .about-img img{
        width: 90vw;
        margin-top: 4rem;
    }
}

@media(max-width : 450px){
    html{
        font-size: 50%;
    }

    .contact form .input-box input{
        width: 100%;
    }
}